<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092872977385-sc7hrh8emsb6p1rddsit0la60c0qgvu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092872977385-sc7hrh8emsb6p1rddsit0la60c0qgvu6</string>
	<key>API_KEY</key>
	<string>AIzaSyAe427z7pETyUrcDaZonOrpbvyAltJfknQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1092872977385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nextsol.idleshipyard</string>
	<key>PROJECT_ID</key>
	<string>idle-shipyard</string>
	<key>STORAGE_BUCKET</key>
	<string>idle-shipyard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092872977385:ios:107e1992c997d930b4a978</string>
	<key>DATABASE_URL</key>
	<string>https://idle-shipyard.firebaseio.com</string>
</dict>
</plist>